{% use '@KRGCore/form/theme/bootstrap_4_layout.html.twig' %}

{% block form_widget %}
    {{ parent() }}

    <script type="text/javascript">
        (function () {
            var form = document.forms.{{ form.vars.name }};
            form.addEventListener('change', function (event) {
                form.submit();
            });
        })();
    </script>
{% endblock %}

{% block choice_widget_collapsed %}
    {{ parent() }}
    {% if value|length > 0 %}
        <button class="btn btn-danger" onclick="this.previousElementSibling.querySelector('select').selectedIndex = 0;">&times;</button>
    {% endif %}
{% endblock %}